:root {
  --color-success: #20b113;
  --color-error: #ee3c06;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

/* Styling Form */
.container {
  width: 400px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
h2 {
  margin-top: 30px;
  text-align: center;
}

.form {
  padding: 30px 40px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
}
