:root {
  --color-success: #20b113;
  --color-error: #ee3c06;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

/* Styling Form */
.container {
  width: 400px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
h2 {
  margin-top: 30px;
  text-align: center;
}

/* Form Part */
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
}
.form-control label {
  display: block;
  margin-bottom: 5px;
  color: #444444;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
}

.form-control small {
  position: absolute;
  bottom: -12px;
  left: 0;
  visibility: hidden;
}
/* button styling */

.btn {
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  background: #006eff;
  border: 2px solid #006eff;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: none;
  color: #2b2b2b;
}
/* JavaScript Related */
.form-control.error input {
  border-color: var(--color-error);
}
.form-control.success input {
  border-color: var(--color-success);
}
.form-control.success small {
  color: var(--color-error);
  visibility: visible;
}

/* Make responsive */

@media (max-width: 360px) {
  .container {
    width: 100%;
  }

  .form {
    padding: 30px 20px;
  }

  .form-control input {
    font-size: 14px;
  }
}
